---
import Header_Common from "@components/header_common.astro";
import Footer_Bar from "@components/footer_bar.astro";
import Burger_Menu from "@components/burger_menu.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Header_Common />
    <title>Oops :(</title>
  </head>
  <body>
    <h2>Oops!</h2>
    Whatever you were trying to reach was either moved, carted on the way or never
    loaded into the quest in the first place.<br />
    Please join our discord and let the main team know about it!<br />
    We apologize for the inconvenience and hope to fix the issue as soon as we find
    it!
    <footer>
      <Footer_Bar />
      <Burger_Menu />
    </footer>
  </body>
</html>
