---
import Header_Common from "@components/header_common.astro";
import Footer_Bar from "@components/footer_bar.astro";
import Burger_Menu from "@components/burger_menu.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Header_Common />
    <meta
      name="keywords"
      content="Wiggler, Monster Hunter, Rise, Sunbreak, World, Iceborne, Guides, Prog, Meta, Endgame, How to, MH"
    />
    <title>Other Guides</title>
    <!-- <meta property="og:url" content="https://www.wiggler.pet/other" /> -->
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/Im-terribly-bad-at-names/justsomestuffineedforotherstuff/main/wigglis.png"
    />
    <meta
      property="description"
      content="Monster Hunter Guides, written and curated by Theorycrafters, Speedrunners and you!"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Other Guides" />
    <meta
      property="og:description"
      content="Monster Hunter Guides, written and curated by Theorycrafters, Speedrunners and you!"
    />
    <meta name="robots" content="max-snippet:-1, max-image-preview:large" />
  </head>

  <body>
    <Burger_Menu />

    <section>
      <input id="BeginnerGuides" class="toggle" type="checkbox" />
      <label for="BeginnerGuides" class="CollHeading">
        <h3>Beginner Guides</h3>
      </label>
      <div class="CollParagraph">
        <p></p>
        <div class="CollL2Page">
          <a href="https://www.google.com">
            <div class="L2Container">
              <img
                src="images/placeholder1.webp"
                class="l2guideimg"
                alt="LINK"
              />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img
                src="images/placeholder1.webp"
                class="l2guideimg"
                alt="LINK"
              />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img
                src="images/placeholder1.webp"
                class="l2guideimg"
                alt="LINK"
              />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img
                src="images/placeholder1.webp"
                class="l2guideimg"
                alt="LINK"
              />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img
                src="images/placeholder1.webp"
                class="l2guideimg"
                alt="LINK"
              />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
        </div>
      </div>
    </section>
    <section>
      <input id="IntermediateGuides" class="toggle" type="checkbox" />
      <label for="IntermediateGuides" class="CollHeading">
        <h3>Intermediate Guides</h3>
      </label>
      <div class="CollParagraph">
        <p></p>
        <div class="CollL2Page">
          <a href="https://www.google.com">
            <div class="L2Container">
              <img
                src="images/placeholder1.webp"
                class="l2guideimg"
                alt="LINK"
              />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img
                src="images/placeholder1.webp"
                class="l2guideimg"
                alt="LINK"
              />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img
                src="images/placeholder1.webp"
                class="l2guideimg"
                alt="LINK"
              />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img
                src="images/placeholder1.webp"
                class="l2guideimg"
                alt="LINK"
              />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img
                src="images/placeholder1.webp"
                class="l2guideimg"
                alt="LINK"
              />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
        </div>
      </div>
    </section>
    <section>
      <input id="AdvancedGuides" class="toggle" type="checkbox" />
      <label for="AdvancedGuides" class="CollHeading">
        <h3>Advanced Guides</h3>
      </label>
      <div class="CollParagraph">
        <p></p>
        <div class="CollL2Page">
          <a href="https://www.google.com">
            <div class="L2Container">
              <img src="images/placeholder1.webp" class="l2guideimg" />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img src="images/placeholder1.webp" class="l2guideimg" />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img src="images/placeholder1.webp" class="l2guideimg" />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img src="images/placeholder1.webp" class="l2guideimg" />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
          <a href="https://www.google.com">
            <div class="L2Container">
              <img src="images/placeholder1.webp" class="l2guideimg" />
              <p>funni guide stuffs abc123</p>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section>
      <input id="Resources" class="toggle" type="checkbox" />
      <label for="Resources" class="CollHeading">
        <h3>Resources</h3>
      </label>
      <div class="CollParagraph">
        <p></p>
        <div class="CollL2Page">
          <div class="CollL2Page">
            <a href="https://www.google.com">
              <div class="L2Container">
                <img src="images/placeholder1.webp" class="l2guideimg" />
                <p>funni guide stuffs abc123</p>
              </div>
            </a>
            <a href="https://www.google.com">
              <div class="L2Container">
                <img src="images/placeholder1.webp" class="l2guideimg" />
                <p>funni guide stuffs abc123</p>
              </div>
            </a>
            <a href="https://www.google.com">
              <div class="L2Container">
                <img src="images/placeholder1.webp" class="l2guideimg" />
                <p>funni guide stuffs abc123</p>
              </div>
            </a>
            <a href="https://www.google.com">
              <div class="L2Container">
                <img src="images/placeholder1.webp" class="l2guideimg" />
                <p>funni guide stuffs abc123</p>
              </div>
            </a>
            <a href="https://www.google.com">
              <div class="L2Container">
                <img src="images/placeholder1.webp" class="l2guideimg" />
                <p>funni guide stuffs abc123</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <section>
        <input id="FAQs" class="toggle" type="checkbox" />
        <label for="FAQs" class="CollHeading">
          <h3>Frequently Asked Questions</h3>
        </label>
        <div class="CollParagraph">
          <p></p>
          <div class="CollL2Page">
            <p>
              >Who do you support <br />
              A: We don't care as long as our information is correct. <br />
              >Lorem? <br />
              A: Ipsum. <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              ><br />
              A: <br />
              >Lorem? <br />
              A: Ipsum. <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              ><br />
              A: <br />
              >Lorem? <br />
              A: Ipsum. <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              ><br />
              A: <br />
              >Lorem? <br />
              A: Ipsum. <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              ><br />
              A: <br />
              >Lorem? <br />
              A: Ipsum. <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              ><br />
              A: <br />
              >Lorem? <br />
              A: Ipsum. <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              ><br />
              A: <br />
              >Lorem? <br />
              A: Ipsum. <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              ><br />
              A: <br />
              >Lorem? <br />
              A: Ipsum. <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              ><br />
              A: <br />
              >Lorem? <br />
              A: Ipsum. <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              ><br />
              A: <br />
              >Lorem? <br />
              A: Ipsum. <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              > <br />
              A: <br />
              ><br />
              A: <br />
            </p>
          </div>
        </div>

        <footer>
          <Footer_Bar />
        </footer>

      </section>
    </section>
  </body>
</html>
