---
import Header_Common from "@components/header_common.astro";
import Footer_Bar from "@components/footer_bar.astro";
import Burger_Menu from "@components/burger_menu.astro";

import Patchnotes_Rise from "@components/patchnotes/patchnotes_rise.astro";
---

<!DOCTYPE html>
<html lang="en">

<head>
  <Header_Common />
  <meta name="keywords"
    content="MHR, MHRSB, MHR:SB, Monster Hunter, Rise, Sunbreak, Guides, Meta, Endgame, Progression, How to" />
  <title>Rise/Sunbreak</title>
  <!-- <meta property="og:url" content="https://www.Wiggler.pet/rise" /> -->
  <meta property="og:image"
    content="https://raw.githubusercontent.com/Im-terribly-bad-at-names/justsomestuffineedforotherstuff/main/rise/gamememe.webp" />
  <meta property="description"
    content="Guides for Monster Hunter Rise, written and curated by Theorycrafters, Speedrunners and you!" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Rise/Sunbreak" />
  <meta property="og:description"
    content="Monster Hunter Guides, written and curated by Theorycrafters, Speedrunners and you!" />
  <meta name="robots" content="max-snippet:-1, max-image-preview:large" />
</head>

<body class="RiseMeme">
  <Burger_Menu />
  <h2>Monster Hunter Rise Sunbreak</h2>
  <div class="RadioContainer">
    <input type="radio" class="radiobutton" name="Level2RadioButton" id="showendgame" /><label for="showendgame"
      class="radiotext1">Endgame Sets</label>
    <input type="radio" class="radiobutton" name="Level2RadioButton" id="showguide" checked /><label for="showguide"
      class="radiotext2" checked>How to play...</label>
    <input type="radio" class="radiobutton" name="Level2RadioButton" id="showprog" /><label for="showprog"
      class="radiotext3">Progression Sets</label><br />
    <div id="endgame">
      <p>
        <a href="rise/endgame/greatsword"><img src="/src/assets/weap_icons/greatsword.webp" class="inlineimg" /></a>
        <a href="rise/endgame/longsword"><img src="/src/assets/weap_icons/longsword.webp" class="inlineimg" /></a>
        <a href="rise/endgame/sword_and_shield"><img src="/src/assets/weap_icons/sword_and_shield.webp" class="inlineimg" /></a>
        <a href="rise/endgame/dual_blades"><img src="/src/assets/weap_icons/dual_blades.webp" class="inlineimg" /></a>
        <a href="rise/endgame/hammer"><img src="/src/assets/weap_icons/hammer.webp" class="inlineimg" /></a>
        <a href="rise/endgame/hunting_horn"><img src="/src/assets/weap_icons/hunting_horn.webp" class="inlineimg" /></a>
        <a href="rise/endgame/lance"><img src="/src/assets/weap_icons/lance.webp" class="inlineimg" /></a>
        <a href="rise/endgame/gunlance"><img src="/src/assets/weap_icons/gunlance.webp" class="inlineimg" /></a>
        <a href="rise/endgame/switch_axe"><img src="/src/assets/weap_icons/switch_axe.webp" class="inlineimg" /></a>
        <a href="rise/endgame/charge_blade"><img src="/src/assets/weap_icons/charge_blade.webp" class="inlineimg" /></a>
        <a href="rise/endgame/insect_glaive"><img src="/src/assets/weap_icons/insect_glaive.webp" class="inlineimg" /></a>
        <a href="rise/endgame/light_bowgun"><img src="/src/assets/weap_icons/light_bowgun.webp" class="inlineimg" /></a>
        <a href="rise/endgame/heavy_bowgun"><img src="/src/assets/weap_icons/heavy_bowgun.webp" class="inlineimg" /></a>
        <a href="rise/endgame/bow"><img src="/src/assets/weap_icons/bow.webp" class="inlineimg" /></a>
      </p>
    </div>

    <div id="guide">
      <p>
        <a href="rise/guide/greatsword"><img src="/src/assets/weap_icons/greatsword.webp" class="inlineimg" /></a>
        <a href="rise/guide/longsword"><img src="/src/assets/weap_icons/longsword.webp" class="inlineimg" /></a>
        <a href="rise/guide/sword_and_shield"><img src="/src/assets/weap_icons/sword_and_shield.webp" class="inlineimg" /></a>
        <a href="rise/guide/dual_blades"><img src="/src/assets/weap_icons/dual_blades.webp" class="inlineimg" /></a>
        <a href="rise/guide/hammer"><img src="/src/assets/weap_icons/hammer.webp" class="inlineimg" /></a>
        <a href="rise/guide/hunting_horn"><img src="/src/assets/weap_icons/hunting_horn.webp" class="inlineimg" /></a>
        <a href="rise/guide/lance"><img src="/src/assets/weap_icons/lance.webp" class="inlineimg" /></a>
        <a href="rise/guide/gunlance"><img src="/src/assets/weap_icons/gunlance.webp" class="inlineimg" /></a>
        <a href="rise/guide/switch_axe"><img src="/src/assets/weap_icons/switch_axe.webp" class="inlineimg" /></a>
        <a href="rise/guide/charge_blade"><img src="/src/assets/weap_icons/charge_blade.webp" class="inlineimg" /></a>
        <a href="rise/guide/insect_glaive"><img src="/src/assets/weap_icons/insect_glaive.webp" class="inlineimg" /></a>
        <a href="rise/guide/light_bowgun"><img src="/src/assets/weap_icons/light_bowgun.webp" class="inlineimg" /></a>
        <a href="rise/guide/heavy_bowgun"><img src="/src/assets/weap_icons/heavy_bowgun.webp" class="inlineimg" /></a>
        <a href="rise/guide/bow"><img src="/src/assets/weap_icons/bow.webp" class="inlineimg" /></a>
      </p>
    </div>

    <div id="prog">
      <p>
        <a href="rise/progression/greatsword"><img src="/src/assets/weap_icons/greatsword.webp" class="inlineimg" /></a>
        <a href="rise/progression/longsword"><img src="/src/assets/weap_icons/longsword.webp" class="inlineimg" /></a>
        <a href="rise/progression/sword_and_shield"><img src="/src/assets/weap_icons/sword_and_shield.webp" class="inlineimg" /></a>
        <a href="rise/progression/dual_blades"><img src="/src/assets/weap_icons/dual_blades.webp" class="inlineimg" /></a>
        <a href="rise/progression/hammer"><img src="/src/assets/weap_icons/hammer.webp" class="inlineimg" /></a>
        <a href="rise/progression/hunting_horn"><img src="/src/assets/weap_icons/hunting_horn.webp" class="inlineimg" /></a>
        <a href="rise/progression/lance"><img src="/src/assets/weap_icons/lance.webp" class="inlineimg" /></a>
        <a href="rise/progression/gunlance"><img src="/src/assets/weap_icons/gunlance.webp" class="inlineimg" /></a>
        <a href="rise/progression/switch_axe"><img src="/src/assets/weap_icons/switch_axe.webp" class="inlineimg" /></a>
        <a href="rise/progression/charge_blade"><img src="/src/assets/weap_icons/charge_blade.webp" class="inlineimg" /></a>
        <a href="rise/progression/insect_glaive"><img src="/src/assets/weap_icons/insect_glaive.webp" class="inlineimg" /></a>
        <a href="rise/progression/light_bowgun"><img src="/src/assets/weap_icons/light_bowgun.webp" class="inlineimg" /></a>
        <a href="rise/progression/heavy_bowgun"><img src="/src/assets/weap_icons/heavy_bowgun.webp" class="inlineimg" /></a>
        <a href="rise/progression/bow"><img src="/src/assets/weap_icons/bow.webp" class="inlineimg" /></a>
      </p>
    </div>
  </div>

  <h2>Patchnotes</h2>
  <Patchnotes_Rise />
  <br />
  <h2 class="center">Other Guides:</h2>
  <a href="other" class="center"><img src="/src/assets/icons/binoculars.webp" class="Patchnotes" /></a>
  <footer>
    <Footer_Bar />
    <br /><a href="/src/assets/headers/AmazonPrimordialDarkVest.webp" target="_blank"><img
        src="/src/assets/headers/AmazonPrimordialDarkVest.webp" class="gamememe" /></a>
  </footer>
</body>

</html>