---
import Header_Common from "@components/header_common.astro";
import Footer_Bar from "@components/footer_bar.astro";
import Burger_Menu from "@components/burger_menu.astro";

import Patchnotes_Rise from "@components/patchnotes/patchnotes_rise.astro";

import Radio_Container from "@components/radio_container.astro";
---

<!DOCTYPE html>
<html lang="en">

<head>
  <Header_Common />
  <meta name="keywords"
    content="MHR, MHRSB, MHR:SB, Monster Hunter, Rise, Sunbreak, Guides, Meta, Endgame, Progression, How to" />
  <title>Rise/Sunbreak</title>
  <!-- <meta property="og:url" content="https://www.Wiggler.pet/rise" /> -->
  <meta property="og:image"
    content="Wiggler_Pet/assets/headers/AmazonPrimordialDarkVest.webp" />
  <meta property="description"
    content="Guides for Monster Hunter Rise, written and curated by Theorycrafters, Speedrunners and you!" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Rise/Sunbreak" />
  <meta property="og:description"
    content="Monster Hunter Guides, written and curated by Theorycrafters, Speedrunners and you!" />
  <meta name="robots" content="max-snippet:-1, max-image-preview:large" />
</head>

<body class="RiseMeme">
  <Burger_Menu />
  <h2>Monster Hunter Rise Sunbreak</h2>
  <Radio_Container
    image_path="/src/assets/weap_icons/greatsword.webp"
    alt_text="GS"
    link="Wiggler_pet/rise/endgame/greatsword"
  />

  <h2>Patchnotes</h2>
  <Patchnotes_Rise />
  <br />
  <h2 class="center">Other Guides:</h2>
  <a href="other" class="center"><img src="Wiggler_pet/assets/icons/binoculars.webp" class="Patchnotes" /></a>
  <footer>
    <Footer_Bar />
    <br /><a href="Wiggler_pet/assets/headers/AmazonPrimordialDarkVest.webp" target="_blank"><img
        src="Wiggler_pet/assets/headers/AmazonPrimordialDarkVest.webp" class="gamememe" /></a>
  </footer>
</body>

</html>