---
import Header_Common from "@components/header_common.astro";
import Footer_Bar from "@components/footer_bar.astro";
import Burger_Menu from "@components/burger_menu.astro";

import Patchnotes_World from "@components/patchnotes/patchnotes_world.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Header_Common />
    <meta
      name="keywords"
      content="MHW, MHWI, MHW:I, Monster Hunter, World, Iceborne, Guides, Meta, Endgame, Progression, How to"
    />
    <title>World/Iceborne</title>
    <!-- <meta property="og:url" content="https://www.wiggler.pet/world" /> -->
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/Im-terribly-bad-at-names/justsomestuffineedforotherstuff/main/world/gamememe.webp"
    />
    <meta
      property="description"
      content="Guides for Monster Hunter World, written and curated by Theorycrafters, Speedrunners and you!"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="World/Iceborne" />
    <meta
      property="og:description"
      content="Guides for Monster Hunter World, written and curated by Theorycrafters, Speedrunners and you!"
    />
    <meta name="robots" content="max-snippet:-1, max-image-preview:large" />
  </head>

  <body class="WorldMeme">
    <Burger_Menu />
    <h2>Monster Hunter World Iceborne</h2>
    <div class="RadioContainer">
      <input
        type="radio"
        class="radiobutton"
        name="Level2RadioButton"
        id="showendgame"
      /><label for="showendgame" class="radiotext1">Endgame Sets</label>
      <input
        type="radio"
        class="radiobutton"
        name="Level2RadioButton"
        id="showguide"
        checked
      /><label for="showguide" class="radiotext2">How to play...</label>
      <input
        type="radio"
        class="radiobutton"
        name="Level2RadioButton"
        id="showprog"
      /><label for="showprog" class="radiotext3">Progression Sets</label><br />
      <div id="endgame">
        <p>
          <a href="world/endgame/greatsword"
            ><img src="/src/assets/weap_icons/greatsword.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/longsword"
            ><img src="/src/assets/weap_icons/longsword.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/sword_and_shield"
            ><img src="/src/assets/weap_icons/sword_and_shield.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/dual_blades"
            ><img src="/src/assets/weap_icons/dual_blades.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/hammer"
            ><img src="/src/assets/weap_icons/hammer.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/hunting_horn"
            ><img src="/src/assets/weap_icons/hunting_horn.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/lance"
            ><img src="/src/assets/weap_icons/lance.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/gunlance"
            ><img src="/src/assets/weap_icons/gunlance.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/switch_axe"
            ><img src="/src/assets/weap_icons/switch_axe.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/charge_blade"
            ><img src="/src/assets/weap_icons/charge_blade.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/insect_glaive"
            ><img src="/src/assets/weap_icons/insect_glaive.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/light_bowgun"
            ><img src="/src/assets/weap_icons/light_bowgun.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/heavy_bowgun"
            ><img src="/src/assets/weap_icons/heavy_bowgun.webp" class="inlineimg"
          /></a>
          <a href="world/endgame/bow"
            ><img src="/src/assets/weap_icons/bow.webp" class="inlineimg"
          /></a>
        </p>
      </div>

      <div id="guide">
        <p>
          <a href="world/guide/greatsword"
            ><img src="/src/assets/weap_icons/greatsword.webp" class="inlineimg"
          /></a>
          <a href="world/guide/longsword"
            ><img src="/src/assets/weap_icons/longsword.webp" class="inlineimg"
          /></a>
          <a href="world/guide/sword_and_shield"
            ><img src="/src/assets/weap_icons/sword_and_shield.webp" class="inlineimg"
          /></a>
          <a href="world/guide/dual_blades"
            ><img src="/src/assets/weap_icons/dual_blades.webp" class="inlineimg"
          /></a>
          <a href="world/guide/hammer"
            ><img src="/src/assets/weap_icons/hammer.webp" class="inlineimg"
          /></a>
          <a href="world/guide/hunting_horn"
            ><img src="/src/assets/weap_icons/hunting_horn.webp" class="inlineimg"
          /></a>
          <a href="world/guide/lance"
            ><img src="/src/assets/weap_icons/lance.webp" class="inlineimg"
          /></a>
          <a href="world/guide/gunlance"
            ><img src="/src/assets/weap_icons/gunlance.webp" class="inlineimg"
          /></a>
          <a href="world/guide/switch_axe"
            ><img src="/src/assets/weap_icons/switch_axe.webp" class="inlineimg"
          /></a>
          <a href="world/guide/charge_blade"
            ><img src="/src/assets/weap_icons/charge_blade.webp" class="inlineimg"
          /></a>
          <a href="world/guide/insect_glaive"
            ><img src="/src/assets/weap_icons/insect_glaive.webp" class="inlineimg"
          /></a>
          <a href="world/guide/light_bowgun"
            ><img src="/src/assets/weap_icons/light_bowgun.webp" class="inlineimg"
          /></a>
          <a href="world/guide/heavy_bowgun"
            ><img src="/src/assets/weap_icons/heavy_bowgun.webp" class="inlineimg"
          /></a>
          <a href="world/guide/bow"
            ><img src="/src/assets/weap_icons/bow.webp" class="inlineimg"
          /></a>
        </p>
      </div>

      <div id="prog">
        <p>
          <a href="world/progression/greatsword"
            ><img src="/src/assets/weap_icons/greatsword.webp" class="inlineimg"
          /></a>
          <a href="world/progression/longsword"
            ><img src="/src/assets/weap_icons/longsword.webp" class="inlineimg"
          /></a>
          <a href="world/progression/sword_and_shield"
            ><img src="/src/assets/weap_icons/sword_and_shield.webp" class="inlineimg"
          /></a>
          <a href="world/progression/dual_blades"
            ><img src="/src/assets/weap_icons/dual_blades.webp" class="inlineimg"
          /></a>
          <a href="world/progression/hammer"
            ><img src="/src/assets/weap_icons/hammer.webp" class="inlineimg"
          /></a>
          <a href="world/progression/hunting_horn"
            ><img src="/src/assets/weap_icons/hunting_horn.webp" class="inlineimg"
          /></a>
          <a href="world/progression/lance"
            ><img src="/src/assets/weap_icons/lance.webp" class="inlineimg"
          /></a>
          <a href="world/progression/gunlance"
            ><img src="/src/assets/weap_icons/gunlance.webp" class="inlineimg"
          /></a>
          <a href="world/progression/switch_axe"
            ><img src="/src/assets/weap_icons/switch_axe.webp" class="inlineimg"
          /></a>
          <a href="world/progression/charge_blade"
            ><img src="/src/assets/weap_icons/charge_blade.webp" class="inlineimg"
          /></a>
          <a href="world/progression/insect_glaive"
            ><img src="/src/assets/weap_icons/insect_glaive.webp" class="inlineimg"
          /></a>
          <a href="world/progression/light_bowgun"
            ><img src="/src/assets/weap_icons/light_bowgun.webp" class="inlineimg"
          /></a>
          <a href="world/progression/heavy_bowgun"
            ><img src="/src/assets/weap_icons/heavy_bowgun.webp" class="inlineimg"
          /></a>
          <a href="world/progression/bow"
            ><img src="/src/assets/weap_icons/bow.webp" class="inlineimg"
          /></a>
        </p>
      </div>
    </div>

    <h2>Patchnotes</h2>

    <Patchnotes_World />
    <br>
    <h3>Other Guides:</h3>
        <h2 class="center">Other Guides:</h2>
        <a href="other" class="center"
          ><img src="/src/assets/icons/binoculars.webp" class="Patchnotes"
        /></a>
    <footer>
      <Footer_Bar />
      <br /><a href="/src/assets/headers/slap_roof_of_fatty.webp" target="_blank"
        ><img src="/src/assets/headers/slap_roof_of_fatty.webp" class="gamememe"
      /></a>
    </footer>
  </body>
</html>
