---

---

<div class="footerwrap">
  <a href="/Wiggler_pet/about">
    <span class="tooltip">
      <img
        src="/Wiggler_pet/assets/icons/Wigglis.webp"
        class="wigglis"
        alt="/about"
      />
      <span class="tooltiptext">About Us</span>
    </span>
  </a>
  <a href="https://www.wiggler.pet">
    <span class="tooltip">
      <img
        src="/Wiggler_pet/assets/icons/farcaster.webp"
        class="wigglis"
        alt=""
      />
      <span class="tooltiptext">Home</span>
    </span>
  </a>
</div>
