<table class="BurgerWeaponTable">
  <tbody>
    <tr>
      <td>
        <label for="WorldGS" class="NavbarIBRadio"
          ><img
            src="../../images/greatsword.webp"
            class="BurgerWeaponTableImg center"
            alt="Greatsword"
            id="BurgerWorldGS"
        /></label>
      </td>
      <td>
        <label for="WorldLS" class="NavbarIBRadio"
          ><img
            src="../../images/longsword.webp"
            class="BurgerWeaponTableImg center"
            alt="Longsword"
            id="BurgerWorldLS"
        /></label>
      </td>
      <td>
        <label for="WorldSnS" class="NavbarIBRadio"
          ><img
            src="../../images/sword_and_shield.webp"
            class="BurgerWeaponTableImg center"
            alt="Sword and Shield"
            id="BurgerWorldSnS"
        /></label>
      </td>
      <td>
        <label for="WorldDB" class="NavbarIBRadio"
          ><img
            src="../../images/dual_blades.webp"
            class="BurgerWeaponTableImg center"
            alt="Dual Blades"
            id="BurgerWorldDB"
        /></label>
      </td>
    </tr>
    <tr>
      <td>
        <label for="WorldHammer" class="NavbarIBRadio"
          ><img
            src="../../images/hammer.webp"
            class="BurgerWeaponTableImg center"
            alt="Hammer"
            id="BurgerWorldHammer"
        /></label>
      </td>
      <td>
        <label for="WorldHorn" class="NavbarIBRadio"
          ><img
            src="../../images/hunting_horn.webp"
            class="BurgerWeaponTableImg center"
            alt="Hunting Horn"
            id="BurgerWorldHorn"
        /></label>
      </td>
      <td>
        <label for="WorldLance" class="NavbarIBRadio"
          ><img
            src="../../images/lance.webp"
            class="BurgerWeaponTableImg center"
            alt="Lance"
            id="BurgerWorldLance"
        /></label>
      </td>
      <td>
        <label for="WorldGunlance" class="NavbarIBRadio"
          ><img
            src="../../images/gunlance.webp"
            class="BurgerWeaponTableImg center"
            alt="Gunlance"
            id="BurgerWorldGunlance"
        /></label>
      </td>
    </tr>
    <tr>
      <td>
        <label for="WorldSwaxe" class="NavbarIBRadio"
          ><img
            src="../../images/switch_axe.webp"
            class="BurgerWeaponTableImg center"
            alt="Switch Axe"
            id="BurgerWorldSwaxe"
        /></label>
      </td>
      <td>
        <label for="WorldCB" class="NavbarIBRadio"
          ><img
            src="../../images/charge_blade.webp"
            class="BurgerWeaponTableImg center"
            alt="Charge Blade"
            id="BurgerWorldCB"
        /></label>
      </td>
      <td>
        <label for="WorldGlaive" class="NavbarIBRadio"
          ><img
            src="../../images/insect_glaive.webp"
            class="BurgerWeaponTableImg center"
            alt="Insect Glaive"
            id="BurgerWorldGlaive"
        /></label>
      </td>
      <td>
        <label for="WorldBow" class="NavbarIBRadio"
          ><img
            src="../../images/bow.webp"
            class="BurgerWeaponTableImg center"
            alt="Bow"
            id="BurgerWorldBow"
        /></label>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label for="WorldLBG" class="NavbarIBRadio"
          ><img
            src="../../images/light_bowgun.webp"
            class="BurgerWeaponTableImg center"
            alt="Light Bowgun"
            id="BurgerWorldLBG"
        /></label>
      </td>
      <td colspan="2">
        <label for="WorldHBG" class="NavbarIBRadio"
          ><img
            src="../../images/heavy_bowgun.webp"
            class="BurgerWeaponTableImg center"
            alt="Heavy Bowgun"
            id="BurgerWorldHBG"
        /></label>
      </td>
    </tr>
  </tbody>
</table>
